/** @format */

// _variables.scss
$primary: #1d4ed8;
$secondary: #39cdcc;
$text-color: #545f7d;
$accent: #f59e0b;
$danger: #ef4444;
$success: #10b981;
$gray-light: #f3f4f6;
$gray-dark: #1f2937;
$white: #ffffff;
$black: #000000;
$light-blue: #213f7d;
